@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --CorPreta: black;
    --CorCinza: gray;
    --FontPrincipal: verdana,Geneva, Tahoma, Sans-serif;
}

header{
    background-color: var(--CorPreta);
    text-align: center;
    color: white;
    padding-top: 30px;
}
header > h1 {
    font-family: var(--FontPrincipal);
    font-size: 5em;
    
}
header > p {
    padding-bottom: 30px;
}
section#poesia1{
    margin: 20px;
}

section#poesia2{
    background-color: white;
    background-image: url("imagens/background001.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#poesia2>p{
    margin: 20px;
    background-color: var(--CorPreta);
    background-attachment: scroll;
    color: white;
    width: 200px;

}
section#poesia4{
    background-color: white;
    background-image: url("imagens/background002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#poesia4>p{
    background-color: var(--CorCinza);
    background-attachment: scroll;
    width: 200px;
}
footer{
    background-color: var(--CorPreta);
    color: white;
    text-align: center;
}